<%= turbo_frame_tag dom_id(current_account, :conversation), class: "flex-1 min-h-0 flex flex-col" do %>
  <div class="flex-1 flex items-center justify-center text-gray-500">
    <div class="text-center">
      <p class="text-lg mb-2">Выберите диалог</p>
      <p class="text-sm">Выберите диалог из списка слева, чтобы начать переписку</p>
    </div>
  </div>
<% end %>
