<div class="flex items-center justify-between mb-4">
  <h1 class="text-xl font-semibold">Шаблоны сообщений</h1>
  <%= link_to "Новый шаблон", new_account_message_template_path(current_account),
      class: "px-3 py-1 bg-violet-600 text-white rounded-md hover:bg-violet-700", data: { turbo_frame: :offcanvas } %>
</div>

<%= turbo_stream_from dom_id(current_account, :message_templates) %>
<div class="bg-white rounded-lg shadow divide-y">
  <div class="grid grid-cols-[1fr_150px_150px_150px] gap-4 p-4 font-medium text-gray-700">
    <div>Название</div>
    <div>Канал</div>
    <div>Контекст</div>
    <div></div>
  </div>
  <%= turbo_frame_tag dom_id(current_account, :message_templates) do %>
    <%= render @message_templates %>
  <% end %>
</div>

