<%= render 'shared/offcanvas_inner', title: t('mailganers.show.title', default: 'Mailganer Settings'), width: '40rem' do %>
  <div class="p-4 space-y-2 text-sm">
    <p><strong>API Key:</strong> <%= @mailganer.api_key %></p>
    <p><strong>SMTP Login:</strong> <%= @mailganer.smtp_login %></p>
    <p><strong>API Key Web Portal:</strong> <%= @mailganer.api_key_web_portal %></p>
  </div>
<% end %>


