<%= render "shared/offcanvas_inner", title: t(".title"), width: "32rem" do %>
  <div id="new_insale_status_mapping_form">
    <%= render "form", insale_status_mapping: @insale_status_mapping %>
  </div>
<% end %>
