<div class="space-x-1">
  <% if current_account&.insales&.exists? %>
    <% rec = current_account.insales.first %>
    <%# link_to_edit edit_account_insale_path(current_account, rec), class: "inline-flex items-center px-3 py-1 bg-violet-600 text-white rounded-md hover:bg-violet-700", data: { turbo_frame: "offcanvas", turbo_prefetch: false } %>
    <%= link_to t("check_integration"), check_account_insale_path(current_account, rec), data: { turbo_stream: true }, class: "inline-flex items-center px-3 py-1 bg-blue-600 text-white rounded-md hover:bg-blue-700" %>
    <%= link_to t("set_products_xml"), xml_source_account_insales_path(current_account), data: { turbo_frame: 'offcanvas' }, class: "inline-flex items-center px-3 py-1 bg-blue-600 text-white rounded-md hover:bg-blue-700" %>
  <% else %>
    <%= link_to_new new_account_insale_path(current_account), data: { turbo_frame: 'offcanvas', turbo_prefetch: false } %>
  <% end %>
</div>
