<div id="<%= dom_id list_item %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">List:</strong>
    <%= list_item.list_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Item:</strong>
    <%= list_item.item_id %>
  </div>

</div>
