<div class="bg-white rounded-lg shadow p-4">
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-xl font-semibold">Edit product</h1>
  </div>
  <%= render 'form' , product: @product %>
</div>


